.about {
  display: flex;
}

.about_block {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 580px;
  background: rgba(25, 25, 25, 0.8);
  border-radius: 3px;
}

.about__num {
  margin-top: 9px;
  margin-left: 9px;
  display: flex;
  justify-content: space-around;
}

.about__bottom_content {
  margin-bottom: 10px;
  text-align: center;
  button {
    margin-bottom: 24px;
  }
  .share__text {
    margin-bottom: 13px;
  }
}

.about_text {
  margin-top: 20px;
  margin-left: 31px;
  max-width: 880px;
}

.text__title {
  max-width: 772px;
  margin-bottom: 2.28rem;
}

.text__subtitle {
  max-width: 880px;
}

.about__subtext {
  margin-top: 41px;
}

.subtext__item:not(:first-child) {
  margin-top: 23px;
}

@media (max-width: 1180px) {
  .about_block {
    height: 605px;
  }
  .about_text {
    margin-left: 45px;
  }
  .text__title {
    max-width: 581px;
  }
  .text__subtitle {
    max-width: 631px;
  }
  .about__subtext {
    max-width: 603px;
  }
}

@media (max-width: 942px) {
  .about_block {
    width: 230px;
    height: 550px;
  }
  .about__bottom_content {
    margin-bottom: 30px;
  }

  .about_text {
    margin-left: 36px;
  }

  .text__title {
    margin-bottom: 23px;
  }

  .about__subtext {
    margin-top: 26px;
  }
  .text__title, .text__subtitle, .about__subtext {
    max-width: 444px ;
  }
}

@media (max-width: 704px) {
  .about_block {
    display: none;
  }
  .about_text {
    margin-left: 0;
  }
}