.about {
  display: flex;
}

.about_block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 580px;
  background: rgba(25, 25, 25, 0.8);
  border-radius: 3px;
}

.about__num {
  margin-top: 9px;
  margin-left: 9px;
  display: flex;
  justify-content: space-around;
  span {
    font-family: MuseoSansCyrl-700 , sans-serif;
    color: #00FF57;
    font-size: 120px;
    font-weight: 800;
    letter-spacing: 5px;
    text-shadow: 3px 1px 0 #F6F6F6;
    cursor: default;
  }
}

.about__bottom_content {
  margin-bottom: 10px;
  text-align: center;
  button {
    margin-bottom: 24px;
  }
  .share__text {
    margin-bottom: 13px;
  }
}

.share__text {
  line-height: 18px !important;
  font-size: 15px !important;
}

.about_text {
  margin-top: 20px;
  margin-left: 31px;
  max-width: 880px;
}

.about__title {
  max-width: 770px;
  color: #00FF57;
  font-size: 48px !important;
  line-height: 57.6px !important;
  margin-bottom: 34px;
  letter-spacing: 1px;
}

.about__subtext {
  margin-top: 41px;
}

.subtext__item:not(:first-child) {
  margin-top: 23px;
}