@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url('../assets/fonts/MuseoSansCyrl-100.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../assets/fonts/MuseoSansCyrl-300.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('../assets/fonts/MuseoSansCyrl-500.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('../assets/fonts/MuseoSansCyrl-700.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('../assets/fonts/MuseoSansCyrl-900.woff');
  font-weight: normal;
  font-style: normal;
}
p,span,h1,h2,h3,h4,h5,h6 {
  cursor: default;
}

.text400__regular {
  font-family: MuseoSansCyrl-100, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
}

.text500__title {
  font-family: MuseoSansCyrl-500, sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 33.6px;
  color: #BDBDBD;
}

.text700__person {
  font-family: MuseoSansCyrl-700, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.text900__person_title {
  font-family:MuseoSansCyrl-900, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43.2px;
  color: #F6F6F6;
}

.text500__person_title {
  font-family:MuseoSansCyrl-500, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34.56px;
  color: #F6F6F6;
}

.text500__person {
  font-family: MuseoSansCyrl-500, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.text300__person {
  font-family: MuseoSansCyrl-300, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}


.text700__title {
  font-family: MuseoSansCyrl-700, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 43.2px;
}

.text700__number {
  font-family: MuseoSansCyrl-700, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.text400__main, a {
  font-family: MuseoSansCyrl-100, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21.6px;
  color: #BDBDBD;
  text-decoration: none;

  &:not(:first-child) {
    margin-top: 23px;
  }
}
